@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,600");
body {
    margin: 0;
    background: #222;
    font-family: "Work Sans", sans-serif;
    font-weight: 800;
}

.container {
    width: 80%;
    margin: 0 auto;
    z-index: 3;
}

header {
    background: #e2490c;
}

header::after {
    content: "";
    display: table;
    clear: both;
}

.logo {
    float: left;
    padding: 10px 0;
    font-size: 20px;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;
    position: relative;
}

nav a {
    color: rgb(21, 21, 21);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav a.active {
    color: #000;
}

nav a.active::after {
    width: 100%;
}

nav a.active::before {
    width: 100%;
}

nav a:hover {
    color: #000;
}

nav a::before {
content: "";
    display: block;
    height: 5px;
    background-color: #444;
    position: absolute;
    top: 10px;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a::after {
    content: "";
    display: block;
    height: 5px;
    background-color: #444;
    position: absolute;
    top: 55px;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::after {
    width: 100%;
}

nav a:hover::before {
    width: 100%;
}